pipeline/SP.json
{
	"name": "SP",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ANALYTICS_SCHEMA].[sp_insert]",
					"storedProcedureParameters": {
						"pid": {
							"value": "1000",
							"type": "Int32"
						},
						"pro_tmstmp": {
							"value": {
								"value": "@variables('tm')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tm",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "CREATE OR ALTER PROCEDURE ANALYTICS_SCHEMA.sp_insert\n    @pid INT\nAS\nBEGIN\n    SET NOCOUNT ON;\n\n    INSERT INTO ANALYTICS_SCHEMA.sp_ex_table (pid, pro_tmstmp)\n    VALUES (@pid, SYSDATETIME());\nEND;\nGO\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"tm": {
				"type": "String"
			}
		},
		"folder": {
			"name": "202601"
		},
		"annotations": [],
		"lastPublishTime": "2026-02-06T16:07:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}